.overlay {
	z-index: 9999;
}

.fade-in {
	opacity: 1;
}

.fade-out {
	pointer-events: none;
	opacity: 0;
}

.loader {
	--color: black;
	--size-bar: 0.2vmin;
	position: relative;
	display: block;
	place-items: center;
}

.loader::before {
	position: absolute;
	box-sizing: border-box;
	width: 16vmin;
	height: var(--size-bar);
	content: "";
	background-color: var(--color);
	animation: loader-4 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes loader-4 {
	0%,
	44%,
	88.1%,
	100% {
		transform-origin: left;
	}

	0.1%,
	100%,
	88% {
		transform: scaleX(0);
	}

	44.1%,
	88% {
		transform-origin: right;
	}

	33%,
	44% {
		transform: scaleX(1);
	}
}
